<% if @article.errors.any? %>
<h5>The following errors prevented the article from getting generated</h5>
	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>


	<%= form_for @article do |f| %>
		<div class="row">
		  <div class="input-field col s2">
				<%= f.label :title %>
			</div>
			<div class="input-field col s8">
	    	<%= f.text_field :title, placeholder: 'Every article needs a title!', class:"form-control white-text" %>
			</div>
		</div>
		<div class="row">
		  <div class="input-field col s2">
				<%= f.label :description %>
			</div>
			<div class="input-field col s8">
				<%= f.text_area :description, placeholder: 'Every article needs a description!', class:"form-control white-text, materialize-textarea" %>
			</div>
		</div>
		<div class="row" align="center">
			<div class="input-field col s4">
				<%= button_tag( class:"btn waves-effect green" ) do %>
				  <%= f.submit %><i class="material-icons right">send</i>
				<% end %>
			</div>
			<div class="input-field col s8">
				<%= button_tag( class:"btn waves-effect red" ) do %>
					<%= link_to "Cancel and return to articles listing", articles_path %>
					<i class="material-icons right">assignment_return</i>
				<% end %>
			</div>
		</div>
	<%end%>
