<div class="container">
	<div class="row">
	  <div class="col s12">
	    <div class="card-panel orange lighten-1">
	      <span class="white-text">
	      	<h2>Showing selected article</h2>

					<p>
						Title: <%= @article.title %>
					</p>

					<p>
						Description: <%= @article.description %>
					</p>
	      </span>
	      <p>
					<%= button_tag( class:"btn waves-effect yellow white-text" ) do %>
						<%= link_to "Edit Article", edit_article_path(@article) %>
						<i class="material-icons right">mode_edit</i>
					<% end %>
				</p>
				<br>
	      <p>
					<%= button_tag( class:"btn waves-effect indigo white-text" ) do %>
						<%= link_to "Articles Listing", articles_path %>
						<i class="material-icons right">assignment_return</i>
					<% end %>
				</p>
	    </div>
	  </div>
	</div>
</div>

