<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body id="top">
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="contact.html" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>

			<main class="mdl-layout__content">
				<%= render "layouts/header" %>
				<%= render "layouts/nav" %>
				<%= render "layouts/intro" %>
				<%= render "layouts/messages" %>

				<%= yield %>

				<%= render "layouts/portfolio" %>
				<%= render "layouts/footer" %>

			</main>
		</div>
	</body>
</html>
